html, body {
  width: 100%;
  margin: 0;
  padding: 0;
}
body {
  width: 800px;
  margin: 0 auto;
}
.content {
  display: flex;
}
.content-left {
  flex-basis: 80%; 
}
.content-right {
  flex-basis: 20%;
}
.chat-panel {
  height: 300px;
  background:#e6e0e0;
  margin-bottom: 30px;
  overflow-x: hidden;
  overflow-y: auto;
}